{% extends 'base.html' %}

{% block content %}
{% load static %}

<body>
    <!-- Counts Section -->
    <section class="dashboard-counts pt-2" style='background-color: rgb(240, 245, 245);'>
      <div class="container-fluid pt-3">
        <div class="row">
          <div class="col-lg-9 col-md-12">
            <h1 style="font-family: Overpass;">CURRENT STOCK</h1>
          </div>
            <h3 style="font-family: Overpass; margin-top: 0.5em;">Select City</h3>
          <div class="col-lg-2 col-md-12">
            <a class="navbar-brand" href="#"  onclick="" tabindex="-1" aria-disabled="true">
              <form id="cityform" method="POST" action="{% url 'dashboard' %}">
                {% csrf_token %}
                <select name="city" class="form-control" id='city'>
                  {% for warehouse in warehouses %}
                  <option value={{ warehouse }}>{{ warehouse }}</option>
                  {% endfor %}
                </select>
              </form>
            </a>
          </div>
        </div>
        <div class="row pt-3">
          <!-- Count item widget-->
          {% for batch in batches %}
          <div class="col-xl-3 col-md-4 col-6 pt-3">
            <div class="wrapper count-title d-flex">
              <div class="icon"><img src="{% static '/img/milk.png' %}" width= 30rmp;></img></div>
              <div class="name">
                <a href="#">
                <strong class="text-uppercase">{{ batch.name}}</strong></a>
                <span>Last updated {{ batch.max_date|date:'Y-m-d'}}</span>
                {% if batch.dcount < 30 %}
                  <div class="count-number red" style="color: rgb(255,0,0)">{{ batch.dcount }}</div>
                {% else %}
                  <div class="count-number" style="color: rgb(0,128,0)">{{ batch.dcount }}</div>
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
<script type="text/javascript">
  var city = document.getElementById("city");
  city.onchange = function(){
    document.getElementById("cityform").submit()
};
</script>
</body>
{% endblock %}
