{% extends 'base.html' %}

{% block content %}
{% load static %}

<body>
    <!-- Counts Section -->
    <section class="dashboard-counts pt-2" style='background-color: rgb(240, 245, 245);'>
      <div class="container-fluid pt-3">
        <div class="row">
          <div class="col-lg-8 col-md-12">
            <h1 style="font-family: Overpass;">CURRENT STOCK</h1>
          </div>
            <h4 style="font-family: Overpass; margin-top: 0.5em;">Select Warehouse</h4>
          <div class="col-lg-2 col-md-12">
            <a class="navbar-brand" href="#"  onclick="" tabindex="-1" aria-disabled="true">
              <form id="cityform" method="POST" action="{% url 'dashboard' %}">
                {% csrf_token %}
                <select name="city" class="form-control" id='city'>
                  {% for warehouse in warehouses %}
                  <option value={{ warehouse }}>{{ warehouse }}</option>
                  {% endfor %}
                </select>
              </form>
            </a>
          </div>
        </div>
        <div class="row pt-3">
          <!-- Count item widget-->
          {% for batch in batches%}
          <div class="col-xl-3 col-md-4 col-6 pt-3">
            <div class="wrapper count-title d-flex">
              <div class="icon"><img src="{% static '/img/milk.png' %}" width= 30rmp;></img></div>
              <div class="name">
                <a href="#">
                <strong class="text-uppercase">{{ batch.batch__productname__productname}}</strong></a>
                {% if batch.dcount < 30 %}
                  <div class="count-number red" style="color: rgb(255,0,0)">{{ batch.dcount }}</div>
                {% else %}
                  <div class="count-number" style="color: rgb(0,128,0)">{{ batch.dcount }}</div>
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="row pt-3">
          {% for up in update %}
          <div class="col-xl-2 col-md-4 col-5 pt-3">
            <span class="text-uppercase">{{ up.warehouse_name__name }}: {{up.dcount|date:"d/m/y"}}</span>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <div class = 'container-fluid pt-4'>
      <h2 style="font-family: Overpass;">BATCH WISE STOCK</h2>
      <div class="row d-flex pt-2">
      {% for warehouse in warehouses %}
        {% if warehouse != "Overall" %}
          <div class="col-lg-6 col-md-12">
          <div class="card bg-light text-center" style = "box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
            <div class="card-header" style="background: rgb(194,214,214)">
              <p class="text-uppercase" style="font-family: Overpass;">{{ warehouse }}</p>
            </div>
            <div class="card-body" style="background:rgb(240,245,245);">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th class="text-uppercase">Product</th>
                      <th class="text-uppercase">Batch Number</th>
                      <th class="text-uppercase">MFD</th>
                      <th class="text-uppercase">Current stock</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for warehousestock in warehousestocks.all %}
                    {% if warehousestock.name.name == warehouse %}
                    <tr>
                      <td>{{ warehousestock.batch.productname.productname}}</td>
                      <td>{{ warehousestock.batch.batch_number }}</td>
                      <td>{{ warehousestock.batch.manufacture_date | date:'d/m/y' }}</td>
                      <td>{{ warehousestock.current_stock }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      {% endfor %}
      </div>
    </div>
<script type="text/javascript">
  var city = document.getElementById("city");
  city.onchange = function(){
    document.getElementById("cityform").submit()
};
</script>
</body>
{% endblock %}
