{% extends 'base.html' %}

{% block content %}
{% load static %}

<div id="orders">
    {% if orders %}
    <h2>You have {{ orders|length }} new orders</h2>
      <ul>
      {% for order in orders %}
        <li>
          <div class="order box">
            <div class="wrapper">
              <strong><a href="https://{{ current_shop.domain }}/admin/orders/{{ order.id }}">{{ order }}</a></strong>
            </div>
          </div>
        </li>
      {% endfor %}
      </ul>
    {% else %}
      <em class="note">There are no orders in your store.</em>
    {% endif %}
  </div>
{% endblock %}
