{% extends 'base.html' %}
{% load static %}
{% load replace_string %}
{% block content %}

<style>
.vl {
  border-left: 1.5px solid grey;
  border-color: rgb(238,238,238);
  height: 80px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 25%;
}
</style>

<body>
  <!-- Counts Section -->
  <section class="statistics pt-2" style='background-color: rgb(240, 245, 245);'>
    <div class="container-fluid pt-3">
      <div class="row">
        <div class="col-lg-8 col-md-12">
          <h2 style="font-family: Overpass;">WEEKLY AVERAGE DELIVERED- {{warehouse.name|upper }}</h2>
        </div>
        <span class="text-uppercase">Last Updated: {{update.dcount|date:"d/m/y"}}</span>
      </div>
      <div class="row d-flex">
        {% for batch in d_avg %}
        <div class="col-lg-3 pb-2">
          <!-- Monthly Usage-->
          <div class="card data-usage">
            <h2 class="display h4">{{ batch.name }}</h2>
            <div class="row d-flex align-items-center">
              <div class="col-sm-6">
                <strong class="text-primary">{{ batch.wk_avg|round_int }}</strong><span>Weekly Average</span>
              </div>
              <div class="vl"></div>
              {% if batch.current_stock.current_stock__sum != None %}
              <div class="col-sm-6"><strong class="text-primary">{{ batch.current_stock.current_stock__sum }}</strong><span>Current Stock</span></div>
              {% else %}
              <div class="col-sm-6"><strong class="text-primary">0</strong><span>Current Stock</span></div>
              {% endif %}
            </div>
              <p>Estimated to last for {{  batch.current_stock.current_stock__sum|divide_round:batch.wk_avg }} weeks</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <section class="dashboard-header section-padding">
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
        <div class="card bar-chart-example">
          <div class="col-md-7">
            <h2 style="font-family: Overpass;">PRODUCTS DELIVERED - {{warehouse.name|upper }}</h2>
          </div>
          <div class="card-header d-flex align-items-center">
            <!-- Products Delivered-->
            <div class="row">
              <div class="col-md-5">
                <form id="typeform" method="POST" action="{% url 'whouse' warehouse.id %}">
                  {% csrf_token %}
                  <h6 style="font-family: Overpass; margin-top: 0.5em;">Select Type</h6>
                  <select class="form-control" id="type" name='type'>
                    {% for type in ty %}
                    <option value="{{ type }}">{{ type }}</option>
                    {% endfor %}
                  </select>
              </div>
              <div class="col-md-7">
                <h6 style="font-family: Overpass; margin-top: 0.5em;">Select Date</h6>
                <select class="form-control" id="time" name='time'>
                  {% for dt in select_date %}
                  <option value={{ dt }}>{{ dt|cut:"_" }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
          <div class="card-body align-content-center">
            <canvas id="chart"></canvas>
          </div>
        </div>
      </div>
      <div class="col-md-1">
      </div>
    </div>
  </section>
  <script>
    window.onload = function() {

      var labels = [
      {% for item in volume %}
        "{{ item.name }}",
        {% endfor %}
      ]

      var data = [
      {% for item in volume %}
        {{ item.sum_quantity }},
      {% endfor %}
      ]

      let numberoflabels = labels.length;

      var mydata = {
        labels: labels,
        datasets: [{
          label: "{{ select_date.0|cut:"_" }}",
          backgroundColor: Array.apply(null, Array(numberoflabels)).map(_ => 'rgb(164,217,216)'),
          borderColor: Array.apply(null, Array(numberoflabels)).map(_ => 'rgb(164,217,216)'),
          borderWidth: 1,
          data: data,
        }, ]
      };

      var myoption = {
        scales: {
          yAxes: [{
                    scaleLabel: {
                      display: true,
                      labelString: 'Number of Packs'
                    }
                }],
          y: {
            beginAtZero: true
          }
        },
        tooltips: {
          enabled: true
        },
        hover: {
          animationDuration: 1
        },
        animation: {
          duration: 1,
          onComplete: function() {
            var chartInstance = this.chart,
              ctx = chartInstance.ctx;
            ctx.textAlign = 'center';
            ctx.fillStyle = "rgba(0, 0, 0, 1)";
            ctx.textBaseline = 'bottom';
            // Loop through each data in the datasets
            this.data.datasets.forEach(function(dataset, i) {
              var meta = chartInstance.controller.getDatasetMeta(i);
              meta.data.forEach(function(bar, index) {
                var data = dataset.data[index];
                ctx.fillText(data, bar._model.x, bar._model.y - 5);
              });
            });
          }
        }
      };

      var config = {
        type: 'bar',
        data: mydata,
        options: myoption
      };

      var ctx = document.getElementById('chart').getContext('2d');
      window.myBar = new Chart(ctx, config);
    };
  </script>

  <script type="text/javascript">
    var type = document.getElementById("type");
    var time = document.getElementById("time");

    type.onchange = function() {
      document.getElementById("typeform").submit()
    };

    time.onchange = function() {
      document.getElementById("typeform").submit()
    };
  </script>
</body>
{% endblock %}
